{% extends 'include/base.html' %}


{% block content %}
        <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap ">
                                    <h2 class="title-1">{{ title }}</h2>
                                </div>
                            </div>
                        </div><br>
                        <div class="row justify-content-center">
                            {% for i in masa %}
                                    <div class="col-sm-6 col-lg-3 col-6">
                                            <div class="overview-item overview-item--c2" onclick="location.href='{{ link }}{{ i.masa_no }}'">
                                                <div class="overview__inner">
                                                    <div class="overview-box clearfix">
                                                        <div class="icon">
                                                            <i class="fa fa-utensils"></i>
                                                        </div><br>
                                                        <div class="text">
                                                            <h2 style="white-space: pre-line">Masa {{ i.masa_no }}</h2>
                                                            <br>
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>



{% endblock %}

